<div class="grid grid-cols-8 bg-gray-900 h-12 opacity-60 shadow-xl">
    <div class="!opacity-100  col-start-1 text-gray-400 font-sans self-center ml-4">
            <img class="h-14 w-auto object-cover" src="assets/logo.png" alt="image">
    </div>
    <div class="col-start-6 text-gray-400 font-sans self-center font-bold cursor-pointer menu">
         Login
    </div>
    <div class="col-start-7 text-gray-400 font-sans self-center font-bold cursor-pointer menu">
         About
    </div>
    <div class="col-start-8 text-gray-400 font-sans self-center font-bold cursor-pointer menu">
         Contact
    </div>

</div>